# Python
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
.venv311/
.venv311_onnx
env/
*.egg-info/
.DS_Store

# VSCode
.vscode/

# Training outputs
weights/
outputs/
reports/figures/

# Data
!data/README.md

# Jupyter
.ipynb_checkpoints/

# OS/other
Thumbs.db
*.zip
=0.1.59